.h-150 {
  height: 150px;
}

.list-item {
  padding: 0px 20px;
  border-right: 2px solid #eee;
  font-size: 20px;
}

.p-t-50 {
  padding-top: 50px;
}

.logo {
  font-size: 50px;
  padding-bottom: 20px;
}
