<nav class="blue darken-4">
  <div class="nav-wrapper row">
    <div class="col s12 m4 l2">
      <a href="#" class="brand-logo">ALOHA ABA</a>
    </div>
    <div class="col s12 m4 l8">
      <ul id="nav-mobile" class="hide-on-med-and-down">
        <li><a href="#">STAFF<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a [routerLink]="['/clients-list']" routerLinkActive="active">CLIENT<i
              class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="#">PAYER<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="#">BILLING<i class="material-icons right">arrow_drop_down</i></a></li>
        <li>
          <a href="#">PAYROLL</a>
        </li>
        <li>
          <a href="#">REPORTS</a>
        </li>
        <li>
          <a href="#">SETTINGS</a>
        </li>
        <li>
          <a href="#">ACTIVITY</a>
        </li>
      </ul>
    </div>
    <div class="col s12 m4 l2">
      <ul class="hide-on-med-and-down right">
        <li><a href="#"><i class="material-icons">notifications</i></a></li>
        <li><a href="#"><i class="material-icons">email</i></a></li>
        <li><a href="#"><i class="material-icons">person</i></a>
        </li>
        <!-- <i class="material-icons right">arrow_drop_down</i> -->
      </ul>
    </div>
  </div>
</nav>
