.m-l-5 {
  margin-left: 10px !important;
}



.search-container {

  i {
    padding-top: 20px;
    padding-right: 15px;
  }
}

.label {
  color: aliceblue;
  font-size: 18px;
}

.real-image {
  border-radius: 50%;
  width: 125px;
  height: 125px;
}

.f-20 {
  font-size: 20px;
}

.profile-details {
  width: 100%;
  padding-left: 15px;
}

.name {
  color: #0D47A1 !important;
}

.primary-text {
  color: #3a7fe7 !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.data-pos {
  position: relative;
  padding-left: 10px;
  bottom: 8px;
}

.m-t-b-10 {
  margin: 10px 0px;
}

.mat-expansion-panel-header,
.card-title {
  background-color: #a5c2ee;
  color: #0D47A1;
  height: 30px !important;
  border-radius: 0 !important;
}

.p-20 {
  padding: 20px;
}

.mat-card {
  padding: 0px !important;
}

.p-10 {
  padding: 5px 10px;
}

.client-image {
  width: 48px;
  height: 48px;
  border: 1px solid #e1e1e1;
  border-radius: 50%;
}

.border-bottom {
  border-bottom: 1px solid #eee;
}

.mat-tab-body {
  max-height: 600px !important;
}
