.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.footer {
  position: fixed;
  bottom: 5px;
  right: 0;
  left: 0;
  z-index: 1000;
}

.p-t-50 {
  padding-top: 100px;
}

.max-height-200 {
  max-height: 20px;
}
